/*5. Apply an external styling to a paragraph tag.*/



/*6. */

*{font-family: "sans-serif",verdana;
font-size:20pxi; !important
}

h1 {
	font-size: 30pxi; !important
}

ol {
	background-color: lightgreen;
}

h2 {text-transform: uppercase;
}

h4 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}



body > section > ul {
	letter-spacing: 5px;
}

h2 ~ a, a

